:root {
    --color-body-bg: #1b1b1b;
    --color-body-bg-dark: #373737;
    --color-text: #fff;
    --color-text-muted: #777;
    --color-primary: #fe8923;
    --color-primary-dark: #c25a0a;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(135deg, var(--color-body-bg), var(--color-body-bg-dark));
    color: var(--color-text);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main #content {
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 2rem;
    padding: 2.5rem;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

.btn {
    text-decoration: none;
    color: var(--color-text);
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(135deg, var(--color-primary), var(--color-primary-dark));
}

.stats {
    font-family: monospace;
    font-size: 0.8rem;
    color: var(--color-text-muted);
}

.github {
    fill: var(--color-text-muted);

    &:hover {
        fill: var(--color-text);
    }
}